#items-container-description {
    margin: 40px 0;
    padding: 20px 0;
}

.items-container-card {
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: visible;
}

.items-container-card > * {
    margin: 1px;
}

