#battle-pass {
    margin-top: 265px;
    overflow-x: clip;
}

.battle-pass-container {
    width: 100vw;
    height: 57.8vh;   
    transform: skew(-25deg);
}

.battle-pass-container > * {
    transform: skewX(25deg);   
}

.battle-pass-container-content {
    padding: 50px;
}

.battle-pass-container-img {
    align-self: end;
    z-index: 10;
} 

.battle-pass-container-img img:first-child {
    right: 30em;
    position: absolute;
    width: auto;
    height: 41.7em;
}

.battle-pass-container-img img:last-child {
    width: auto;
    height: 60em;
}
