#hero {
    background-image: url(/bg-img1-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: background 15s ease infinite 2s;
    -moz-animation: background 15s ease infinite 2s;
    -o-animation: background 15s ease infinite 2s;
    animation: background 15s ease infinite 2s;
    height: 100vh;
}

.hero-container::before {
    content: " ";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #090D15 0%, rgba(9, 13, 21, 0.28) 100%);
    position: absolute;
    z-index: 0;
}

.hero-container-content {
    height: 89vh;
    position: relative;
    margin: 0 12px;
    padding: 0 24px;
}

.hero-container-description {
    margin: 24px;
    padding: 24px;
}

.hero-container-aside {
    align-self: end;
    margin: 1.8rem;
    padding: 2.4rem;
    flex-basis: 2rem;
}

.hero-container-preview {
    text-align: end;
}

.hero-container-progress {
    height: 1vh;
}