#hero {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: background 15s ease infinite;
    -moz-animation: background 15s ease infinite;
    -o-animation: background 15s ease infinite;
    animation: background 15s ease infinite;
}

.hero-container {
    position: relative;
}

.hero-container::before {
    content: " ";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 11%, rgba(0, 0, 0, 0.5) 51%, rgba(0,0,0,0.7) 77%);
    position: absolute;
    z-index: 0;
}

.hero-container-content {
    height: 89vh;
    position: relative;
    margin: 0 12px;
    padding: 0 24px;
}

.hero-container-description {
    margin: 24px;
    padding: 24px;
}

.hero-container-aside {
    align-self: end;
    margin: 1.8rem;
    padding: 2.4rem;
    flex-basis: 2rem;
}

.hero-container-preview {
    text-align: end;
}

.hero-container-progress {
    position: inherit;
    z-index: 30;
}
