.page-title-container {
    width: auto;
    height: 25rem;
    margin-top: 106px;
    padding-bottom: 102px;
}

.page-title-custom {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}

.page-title-custom h1 {
    background: linear-gradient(180deg, #0866B0 0%, #46CAE9 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    margin: 0;
    align-self: center;
    font-size: 9.6rem;
    z-index: 30;
}

.page-title-custom h2 {
    position: absolute;
    margin: 0;
    font-size: 30rem;
    letter-spacing: 3rem;
    color: transparent;
    -webkit-text-stroke: 0.250rem var(--primary-colors-cyan-400);
    z-index: 20;
}