#footer-container-social-media {
    border-bottom: 1px solid var(--gray-colors-200);
    align-items: center;
    position: relative;
}

#footer-container-social-media > .footer-social-media {
    align-self: center;
    position: absolute;
    left: 65%;
}


.footer-container {
    margin: 16px;
    padding: 12px;
}

.footer-container > * {
    padding: 24px;
}

.logo-epic-games {
    width: auto;
    height: 80px;
}

.footer-social-media > * {
    color: var(--gray-colors-700);
    margin: 0 8px;
}

.footer-social-media {
    justify-content: center;
}  


.footer-container-about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.copywrite-explow {
    text-align: end;
}

.copywrite-explow > p {
    font-size: 1.4em;
    color: var(--gray-colors-700);
}

.copywrite-explow > a > img {
    width: 9rem;
    height: auto;
} 


.copywrite-epic {
    width: 34%;
}

.footer-container-about > p {
    font-size: 1.4em;
    color: var(--gray-colors-700, #374151);
}

.footer-top-return {
    text-align: center;
    padding: 0;
}


.footer-top-return * p {
    margin: 0 0 6px 0;
    font-size: 2rem;
    color: var(--gray-colors-700);
    cursor: pointer;
}

.icon-top-return {
    width: 35px;
    cursor: pointer;
    filter: invert(21%) sepia(69%) saturate(6932%) hue-rotate(195deg) brightness(91%) contrast(94%);
}

.icon-top-return:hover {
    transform: scale(1.1);
}