.footer-container {
    margin: 24px 72px;
}

#footer-container-social-media {
    padding: 40px 0;
    border-bottom: 1px solid var(--gray-colors-200);
}

.footer-social-media {
    display: flex;
    align-items: center;
}

.footer-social-media > *{
    margin-left: 18px;
}

.footer-social-media p {
    color: var(--gray-colors-700);
}

.footer-social-media img {
    float: left;
}

.footer-copywrite-container-about {
    padding: 40px 0 0 0;
}

.footer-container-about {
    display: flex;
    flex-direction: column;
}


.copywrite-epic {
    width: 60%;
}

.footer-container-about p {
    font-size: 1.4em;
    color: var(--gray-colors-700, #374151);
}

.footer-container-about a {
    font-size: 1em;
    color: var(--gray-colors-700);
    text-decoration: underline;
}

.footer-top-return {
    width:fit-content;
}

.footer-top-return a {
    display: flex;
    margin: 0;
    color: var(--gray-colors-700);
    cursor: pointer;
    text-decoration: none;
}

.footer-top-return a > p {
    cursor: pointer;
}

.icon-top-return {
    filter: opacity(0.6);
    width: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.icon-top-return:hover {
    transform: scale(1.1);
}

.footer-logo-dants > * {
    transform: scale(1.2);
}
