#banner {
    margin: 52px 0 0 0;
    padding-top: 32px;
}


.banner-container-description {
    margin: 32px;
    padding: 24px;
}

.banner-container-description > h1 {
    font-size: 6rem;
    letter-spacing: 3px;
}

.banner-container-description > p {
    font-size: 3rem;
    font-weight: 400;
}